syntax: glob
# generic
*.pyc
*~
.DS_Store
ckanext_dcat.egg-info/*
ckanext_cwbi_harvesters.egg-info/*
sandbox/*
pip-log.txt
cmd.txt
.coverage
.pytest_cache/
htmlcov/
.venv/
venv/
.mypy_cache/
.ruff_cache/

# pylons
data/*

# other
build/*
dist/*
tmp/*
package/DEBIAN/control
*.swp
.idea
